#!/usr/bin/make -f

export CARGO_HOME = $(CURDIR)/debian/cargo
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

distrel := $(shell lsb_release --codename --short)
ifneq (,$(filter $(distrel),buster amber))
	legacy = true
else
	legacy = false
endif

%:
	dh $@ --builddirectory=_build --buildsystem=meson

# The Debian version of linked-hash-map doesn't provide any hash,
# causing Cargo to refuse to build with a crates.io copy
override_dh_auto_configure:
	[ ! -f Cargo.lock ] || rm Cargo.lock
	dh_auto_configure -- -Dlegacy=$(legacy)

override_dh_autoreconf:
