layout {
    background-color: rgba(0, 0, 0, 255);
    color: #ffffff;
    font-family: cantarell, sans-serif;
}

button {
    color: #deddda;
    background: #464448;
    border-style: solid;
    border-width: 1px;
    border-color: #5e5c64;
    border-radius: 3px;
}

button:active {
    background: #545256;
    border-color: #716e78;
}

button.altline,
button.special,
button.wide {
    background: #2b292f;
    border-color: #3e3a44
}

#Return {
    background: #1c71d8;
    border-color: #1a5fb4
}

#Return:active {
    background: #1c71d8;
    border-color: #3584e4;
}
