sq_view {
    background-color: @theme_base_color; /*rgba(0, 0, 0, 255);*/
    color: @theme_text_color; /*#ffffff;*/
    font-family: cantarell, sans-serif;
    font-size: 25px;
}

sq_view sq_button {
    color: @theme_fg_color; /*#deddda;*/
    background: mix(@theme_bg_color, @theme_base_color, -0.5); /* #464448; */
    border-style: solid;
    border-width: 1px;
    border-color: @borders; /* #5e5c64;*/
    border-radius: 3px;
    margin: 4px 2px 4px 2px;
}

sq_view.wide sq_button {
    margin: 1px 1px 1px 1px;
}

sq_button:active,
sq_button.altline:active,
sq_button.special:active,
sq_button.wide:active {
    background: mix(@theme_bg_color, @theme_selected_bg_color, 0.4);/* #747077; */
    border-color: mix(@borders, @theme_selected_fg_color, 0.5);/* #96949d; */
}

sq_button.altline,
sq_button.special,
sq_button.wide {
    background: mix(@theme_bg_color, @theme_base_color, 0.5); /*#2b292f;*/
    border-color: @borders; /* #3e3a44; */
}

sq_button.locked {
    background: @theme_fg_color; /*#ffffff;*/
    color: @theme_bg_color; /*#2b292f;*/
}

sq_button.action {
    font-size: 0.75em;
}

sq_button.small {
    font-size: 0.5em;
}

#Return {
    background: @theme_selected_bg_color; /* #1c71d8; */
    border-color: @borders; /*#1a5fb4;*/
}

#Return:active {
    background: mix(@theme_selected_bg_color, @theme_bg_color, 0.4); /*#1c71d8;*/
    border-color: @borders; /*#3584e4;*/
}
