.keyboard {
    background-color: rgba(0, 0, 0, 255);
    color: #ffffff;
    font-family: cantarell, sans-serif;
}

.key {
    color: #deddda;
    background: #464448;
    border-style: solid;
    border-width: 1px;
    border-color: #5e5c64;
    border-radius: 2px;
}

.key:active {
    background: #1c71d8;
    border-color: #3584e4;
}

#Return {
    background: #6480ff
}

#Shift_L {
    background: #363438
}
